<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Python Programming Tutorials</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<div class="jumbotron">
  <h1 class="display-4">JPG PHM</h1>
  <p class="lead">Upload a file for PHM Analysis below. You can upload a single or multiple files for analysis. A Hydra+POM file is preferred.</p>
  <hr class="my-4">
  <p>For more information on the Analysis</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
<h2>Select a file to upload</h2>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
<form method="post" action="/" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="file" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>

<p>Hi there how ya doin!?</p>
</html>

